#root {
	max-width: 1280px;
margin: 0 auto;
padding: 2rem;
	 text-align: center;
}

.logo {
height: 6em;
padding: 1.5em;
	 will-change: filter;
transition: filter 300ms;
}
.logo:hover {
filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
transform: rotate(0deg);
	}
	to {
transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
a:nth-of-type(2) .logo {
animation: logo-spin infinite 20s linear;
  }
}

.card {
padding: 2em;
}

.read-the-docs {
color: #888;
}
/*Home Page */
.home {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	gap: 2rem;
	margin-bottom: 1rem;
	
}
.link {
	display: block;
	padding: 0.75rem 1.5rem;
	background-color: #0C699F;
	color: white;
       	border-radius: 10px;
       	text-align: center;
       	font-weight: bold;
	transition: background-color 0.3s;
	cursor: pointer;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.link:hover {
	background-color: #0056b3;;
color: white;
}
.account {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}
.account input {
	padding: 0.4rem 0.6rem;
		
}
.account button {	
	background-color: #0C699F;
	color: white;
       	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.account button:hover {
	background-color: #0056b3;;
}
.account-select {
	display:flex;
	align-items: center;
	gap: 1rem;
	justify-content: center;
}
.account-select select {
	padding: 0.4rem 0.6rem;
	background-color: #0C699F;
	cursor: pointer;
	color:white;
	
	
}
.account-select select:hover {
	background-color: #0056b3;;
}
.account-select label {
	font-weight: 600;
	color: black;
	margin-bottom: 1rem;
}
.title {
color: black;
text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
